@charset "UTF-8";
/* CSS Document */

body
{background-color:rgba(31,84,68,1.00)}

#wrapper{
	width: 900px;
	margin: 0 auto;
}
header {
	width:100%;
	height: 100px;
}

header h1{
	font-size: 40px;
	font-family: typeka, sans-serif;
font-weight: 700;
font-style: normal;
	text-align: center;
	color:rgba(237,233,209,1.00)}

nav a:link {
	font-size: 30px;
	font-family: typeka, sans-serif;
font-weight: 700;
font-style: normal;
	color:rgba(237,233,209,1.00);
	text-align: center;
	text-decoration: none;
	margin-right: 20px;}

nav a:hover {
	color:rgba(216,153,111,1.00)}

nav a:active {
	text-decoration: underline;
}

.left{
	width:400px;
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;}

.right{
	width: 400px;
	float: right;
	margin-bottom: 30px;
	margin-top: 30px;
	font-family: typeka, sans-serif;
	font-size: 20px;
	color: rgba(237,233,209,1.00);
	background-color:rgba(18,58,46,1.00);
	border-radius: 15px;
	padding:10px;}

footer{
	text-align: center;
	clear: both;
	font-family: typeka,sans-serif;
font-weight: 700;
font-style: normal;
	color:rgba(237,233,209,1.00)}